GEMINI_API_KEY="AQ.Ab8RN6IjrTDrf5B0ITycrLwl0Skc8gbyNgrCvPEkBSCb4NGHMw"

APP_URL="MY_APP_URL"

MONGO_URI="mongodb+srv://admin:Swetha%4020@cluster0.8s0ougn.mongodb.net/linkpulse?retryWrites=true&w=majority"

JWT_SECRET="my_super_secret_linkpulse_jwt_key_12345"

PORT=3000

CLIENT_URL=""

BASE_URL=""